@model FZ.WriteLogs.DataBaseSite
@{
    ViewBag.Title = "Редактирование";
}
<form asp-action="edit" asp-controller="home" method="post">
    <div class="form-group">
        <label asp-for="url" class="control-label">Url</label>
        <input type="text" asp-for="url" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="message" class="control-label">Кому отправлять log</label>
        <input type="text" asp-for="message" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Сохранить" class="btn btn-default" />
    </div>
</form>