@model IEnumerable<FZ.WriteLogs.DataBaseSite>
@{
    ViewData["Title"] = "Page";
}

<h1>Log Control</h1>

<form asp-controller="Home" method="post">
    <button type="button" id="start" class="btn btn-success active" data-action="start" asp-action="start">Запустить фоновую задачу!</button>
    <button type="button" id="stop" class="btn btn-danger" data-action="stop" asp-action="stop">Полностью остановить фоновую задачу!</button>
</form>

<script>
	$(document).ready(function () {
		// Handle button click events
		$('button[data-action]').click(function () {
			// Disable current active button
			$('button.active').removeClass('active').prop('disabled', false);
			// Enable clicked button and mark it as active
			$(this).addClass('active').prop('disabled', true);
			// Call the corresponding controller action
			var action = $(this).data('action');
			$.post('/home/' + action);
		});
	});
</script>

<h4>Все cайты отслеживаемые ФЗ</h4>
<a>@await Html.PartialAsync("AddSiteModal", Model.FirstOrDefault())</a>
@*<a type="button" asp-action="AddSite" class="btn btn-light">Добавить сайт</a>*@

<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">URL</th>
            <th scope="col">Кому отправляется log</th>
            <th scope="col">Действие</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Url</td>
                <td>@item.Message</td>
				<td>
					<a> @await Html.PartialAsync("EditModal",item)     </a>
					<a> @await Html.PartialAsync("DeleteModal",item)     </a>
				</td>
            </tr>
        }
    </tbody>
</table>




